body {
    font-family: "Gill Sans", sans-serif;
    background-color:rgb(145, 191, 226)
}


.button-container {
    list-style: none;
    padding: 0;
}

.button-container li {
    display: inline-block;
    margin: 10px; 
}

.button-container li a {
    display: inline-block;
    padding: 60px 55px; 
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 10px; 
    background-size: cover; 
}


.button-container li a:hover {
    background-color:rgb(18, 53, 74);
}
.section1 {
    background-color: #f8f8f8;

}
footer {
    background-color: #f8f8f8;
            color: #000000;
            text-align: center;
            padding: 10px 0;
        
}

header {
    background-color: #fbfbfb;
}



